@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}

body {
  background-color: #3C3E41;
  color: #f9f9f9;
  font-family: raleway, helvetica;
}

header {
  background-color: #CC3748;
  height: 10%;
  text-align: center;
}

h1, h1 a{
  color: #f9f9f9;
  font-family: lato;
  font-size: 30pt;
  margin: 25px 0;
  text-decoration: none;
}
  
h1 a:hover{
  color: #f9f9f9;
  text-decoration: none;
}

h2{  
  font-family: lato;
  font-size: 20pt;
}

h3{
  font-family: lato;
  font-size: 14pt;
  line-height: 18pt;
  margin: 7px 0;
}

p {
  font-size: 12pt;
  line-height: 16pt;
}

.main-container{
  margin: 5% auto;
  width: 85%;
}

/* menu */
nav {
  background-color: #2A2B2E;
  height: 100%;
  left: -170px;
  position: fixed;
  top: 0px;
  width: 10%;
  z-index: 20;
}

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-pills>li>a{
  border-bottom: 2px solid #36393d;
  color: #BEC1C4;
  display: block;
  padding: 20px 0;
  text-align: center;
}

.nav-pills>li>a:hover, .nav>li>a:focus{
  background-color: #232427;
  color: #CC3748;
  outline: 0;
}

nav .glyphicon{
  display: block;    
  font-size: 20pt;
  padding-bottom: 10px;
}

#menu-btn {
  background-color: transparent;
  border: 0;
  font-size: 20pt;
  left: 20px;
  position: fixed;
  top: 25px;
  z-index: 10;
}

#menu-btn:focus, button:focus, input:focus, select:focus, input[type=file]:focus{
  outline: 0;
}


/* index */
.logo{
  margin: -17.5px 0 0 8px;
}

.photo-main::before {display: none;
  background-image: url('../images/postais.png');
  content: "";
  display: block;
  height: 445px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(3.5px);
  -moz-filter: blur(3.5px);
  -o-filter: blur(3.5px);
  -ms-filter: blur(3.5px);
}

.photo-main {
  height: 450px;
  position: relative;
}

.text-container{
  margin-top: -5%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.photo-main h1{
  font-size: 34pt;
}

.photo-main p{
  font-size: 22pt;
}

.color-overlay{
    background-color: #CC3748;
    height: 100%;
    opacity: 0.55;
    position: absolute;
    width: 100%;
}

.element{
  margin: 15px 0;
  position: relative;
  text-align: center;
}

.icon-main{
  background-color: #CC3748;
  border-radius: 200px;
  display: inline-block;
  font-size: 25pt;
  margin: 25px 0;
  padding: 25px;
  text-align: center;
}

/* forms */
form{
  margin: 25px 0;
}

input, input[type="checkbox"]{
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #CC3748;
  color: #f9f9f9;
  height: 50px;
  margin: 15px 0;
  padding: 5px 0;
  width: 75%;
}

select{
  background-color: transparent;
  border: solid 2px #CC3748;
  color: #f9f9f9;
  height: 40px;
  margin: 25px 0;
  width: 75%;
}

label{
  bottom: 17px;
  color: #aaa;
  position: absolute;
}

label.favorite{
  bottom: 24px;
}

input#favorite{
  margin-left: 12%;
}

input#photo{
  padding-left: 42%;
}

input#date{
  padding-left: 45%;
}

.id{
  padding-left: 15px;
}

.buttons{
  margin: 25px 0;
  text-align: center;
}

input[type="reset"], input[type="submit"], .button{
  background-color: #CC3748;
  border: 0;
  border-bottom: 0;
  border-radius: 10px;
  box-shadow: 0px 2px 0px #80242E;
  font-size: 14pt;
  height: initial;
  margin: 15px;
  width: 15%;
}
.error{
  color: #A62929;
}

/* tables */
.edit{
  display: none;
}

.table{
  background-color: #4D5054;
  border-radius: 10px;
  margin: 25px 0;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th{
  border-top: 0;
}

.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
  border-top: 2px solid #36393d;
  padding: 12px 5px;
  vertical-align: middle;
}

th:first-child{
  width: 32px;
}

td>.glyphicon{
  font-size: 12pt;
  padding-bottom: 0;
  padding-left: 3px;
}

/* categories */
.category{
  background-color: #4D5054;
  border: 0;
  border-radius: 10px;
  font-size: 16pt;
  margin: 15px auto;
  padding: 25px;
  text-align: left;
  width: 100%;
}

.category .glyphicon{
  color: #f9f9f9;
  display: inline-block;
  font-size: 16pt;
}

.category .glyphicon-chevron-right{
  float: right;
}

.category .glyphicon-tag{
  padding-right: 10px;
}

/* edit postcard */
.postcard-container{
  background-color: #262729;
  border-radius: 10px;
  padding: 25px;
}

.postcard-text-container{
  display: table-cell;
  vertical-align: middle;
  width: 35%;
}

.postcard-img{
  margin: 0 auto;
  width: 100%;
}

.img-container{
  display: table-cell;
  padding: 25px;
  margin: 0 25px 0 0;
  width: 60%;
}

.flag{
  border-radius: 2px;
  margin-left: 5px;
}

.clicable{
  background-color: #4D5054;
  border-radius: 10px;
  font-size: 12pt;
  padding: 10px;
  margin: 15px 0;
}

.clicable .glyphicon{
  padding-right: 5px;
}

/* delete */
.delete-container{
  background-color: #262729;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
}

.delete-container input[type="submit"]{
  width: 40%;
}


.delete-img{
  display: inline-block;
  padding: 25px;
  margin: 0 25px 0 0;
  width: 40%;
}

.delete-text-container{
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}

/* media queries */
@media (min-width: 1025px){
  .nav-pills>li>a:hover span.glyphicon{
      -webkit-transform: rotate(-15deg);
  }
  
  input[type="reset"]:hover, input[type="submit"]:hover{
      background-color: #80242E;
  }

  .button:hover{
    background-color: #80242E;
  }

  .table>tbody>tr:hover td{
    background-color: #CC3748;
  }

  .table>tbody>tr:last-child:hover td:first-child{
    border-radius: 0 0 0 10px;
  }

  .table>tbody>tr:last-child:hover td:last-child{
    border-radius: 0 0 10px 0;
  }

  .table>tbody>tr:hover .edit{
    display: block;
  }

  .category:hover{
    background-color: #CC3748;
  }

  .clicable:hover{
    background-color: #CC3748;
  }
}

@media (min-width: 768px){
  .element{
    min-height: 208px;
  }
}

@media (max-width: 767px){
  .not-mobile{
    display: none;
  }
  
 
  nav .glyphicon{
    font-size: 16pt;
  }
  
  h1 a, .photo-main h1{
    font-size: 24pt;
  }
  
  .logo{
    max-height: 25px;
  }
  
  .photo-main p{
    font-size: 14pt;
    padding: 0 5px;
  }
  
  input[type="reset"], input[type="submit"], .button{
    padding: 5px 0;
    width: 50%;
  }
  
  .photo-main{
    height: 300px;
  }
  
  .photo-main::before{
    height: 295px;
  }
  
  .text-container{
    top: 25%;
  }
  
  h2{
    font-size: 16pt;
  }
  
  .icon-main{
    font-size: 18px;
    margin: 15px 0;
    padding: 18px;
  }
  
  p{
    font-size: 11pt;
    line-height: 15pt;
  }
  
  input#favorite{
    height: 25px;
    margin-left: 40%;
  }
  
  label.favorite{
    bottom: 10px;
  }
  
  .category{
    font-size: 14pt;
    padding: 15px;
  }
  
  .category .glyphicon{
    font-size: 14pt;
  }
  
  #menu-btn {
    left: 0px;
    top: 30px;
  }
  
  input#photo{
    padding-left: 33%;
  }
  
  .img-container, .delete-img, .delete-text-container{
    display: block;
    width: 100%;
  }
}