.category {
  background-color: #4D5054;
  border: 0;
  border-radius: $border-radius;
  font-size: 16pt;
  margin: 15px auto;
  padding: 25px;
  text-align: left;
  width: 100%;
  .glyphicon {
    color: #f9f9f9;
    display: inline-block;
    font-size: 16pt;
  }
  .glyphicon-chevron-right {
    float: right;
  }
  .glyphicon-tag {
    padding-right: 10px;
  }
}