.delete-container {
  background-color: #262729;
  border-radius: $border-radius;
  padding: 25px;
  text-align: center;
  input[type="submit"] {
    width: 40%;
  }
}

.delete-img {
  display: inline-block;
  padding: 25px;
  margin: 0 25px 0 0;
  width: 40%;
}

.delete-text-container {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}