.postcard-container {
  background-color: #262729;
  border-radius: $border-radius;
  padding: 25px;
}

.postcard-text-container {
  display: table-cell;
  vertical-align: middle;
  width: 35%;
}

.postcard-img {
  margin: 0 auto;
  width: 100%;
}

.img-container {
  display: table-cell;
  padding: 25px;
  margin: 0 25px 0 0;
  width: 60%;
}

.flag {
  border-radius: $border-radius/5;
  margin-left: 5px;
}

.clicable {
  background-color: #4D5054;
  border-radius: $border-radius;
  font-size: 12pt;
  padding: 10px;
  margin: 15px 0;
  .glyphicon {
    padding-right: 5px;
  }
}