header.index {
    background-color: transparent;
    left: 0;
    margin: auto;
    opacity: 1;
    padding: 0;
    position: absolute;
    right: 0;
    top: 5%;
    z-index: 1;
    h1 {
        margin: 0;
        a {
            @extend .main-h1;
            font-size: 20pt;
            .logo {
                max-width: 36px;
                @media (max-width: 767px) {
                    max-width: 20px;
                }
            }
            @media (max-width: 767px) {
                font-size: 14pt;
                line-height: 16pt;
            }
        }
    }
    .btn-wrapper-login {
        text-align: right;
    }
    button {
        font-size: 13pt;
        width: 25%;
        @media (max-width: 767px) {
            width: auto;
        }
    }
}
.photo-main {
    height: 650px;
    position: relative;
    p {
        font-size: 24pt;
        line-height: 26pt;
        margin-bottom: 15px;
        @media (max-width: 767px) {
            font-size: 18pt;
            line-height: 20pt;
        }
    }
    &::before {
        display: none;
        background-image: url('../images/postais2.png');
        content: "";
        display: block;
        height: 650px;
        opacity: 0.9;
        overflow: hidden;
        position: absolute;
        width: 100%;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
    }
}
.text-container {
    margin-top: -1%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.color-overlay {
    background-color: $darkerColor;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    width: 100%;
}

.what-section {
    margin: 5% -15px;
    div img{
        margin: auto;
    }
}

.text-what-section {
    bottom: 0;
    height: 40%;
    left: 0;
    margin: auto;
    padding: 0 15px;
    position: absolute;
    right: 0;
    top: 0;
}

.col-what-section {
    height: 250px;
    @media (max-width: 991px) {
        height: 150px;
    }
}

.button.start {
    font-size: 15pt;
    padding: 5px 0;
    width: 25%;
    @media (max-width: 767px) {
        padding: 5px 10px;
        width: auto;
    }
}

/* signup form */
.modal-content {
    background-color: $textColor;
}
.modal-body {
    text-align: center;
    form {
        margin: 10px 0;
        input, select {
            background-color: $inputBgColor;
            border: 0;
            border-radius: $border-radius;
            color: $textColor2;
            margin: 0;
            padding: 25px 2% 25px 2%;
            z-index: 2;
            &.field-error {
                @extend .field-error;
            }
        }
        .select-fake {
            background-color: #cdcdcd;
            border-radius: $border-radius;
            padding-top: 15px;
            &.field-error {
                @extend .field-error;
            }
        }
    }
    p {
        color: $darkerColor;
        display: inline-block;
        font-size: 11pt;
    }
    hr {
        border-top-color: $inputBgColor;
        display: inline-block;
        margin: 20px 15px;
        vertical-align: middle;
        width: 33%;
    }
}

.login-form, .signup-form{
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px $inputBgColor inset;
        -webkit-text-fill-color: $textColor2 !important;
    }
}

.button.signup {
    margin: 15px auto;
    padding: 10px 20px;
    width: 75%;
}

@include placeholder('input', $textColor2);
@include placeholder('.field-error', $errorColor);
@include placeholder('#search-field-mobile', $textColor);

.label-signup {
    color: $textColor2;
    font-size: 9pt;
    line-height: 11pt;
    left: 15px;
    padding-left: 2%;
    opacity: 0;
    top: 35%;
    &.field-error {
        @extend .field-error;
    }
}

.tooltip.right .tooltip-arrow {
    border-right-color: $errorColor;
}

.tooltip-inner {
    background-color: $errorColor;
}

main.index {
    margin-top: 5%;
}