/* menu */
nav {
  background-color: $nav-bg-color;
  height: 100%;
  top: 0px;
  z-index: 2;
  @media (max-width: 991px) {
    display: none;
    left: -50%;
  }
  &.col-md-2{
    position: fixed;
    padding: $header-height 0 0 0;
  }
  .glyphicon {
      font-size: 16pt;
      padding-right: 10px;
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 12pt;
        padding-right: 0;
      }
  }
  .nav-stacked>li+li {
    margin-top: 0;
  }
  .nav-pills {
    &>li>a{
      border-bottom: 1px solid $nav-border-color;
      border-radius: 0;
      color: $nav-text-color;
      display: block;
      padding: 20px 15%;
      &.active, &:focus, &:hover {
        background-color: $nav-active-color;
        color: $lighterColor;
        outline: 0;
        @media (min-width: 992px) {
          &:hover, &:focus{
            background-color: $nav-active-color;
            color: $lighterColor;
            outline: 0;
          }
        }
      }
      @media (max-width: 767px) {
        padding: 12px 15%;
      }
      @media (max-width: 991px) {
        &:hover, &:focus{
          background-color: $nav-bg-color;
          color: $nav-text-color;
          outline: 0;
        }
      }
    }
  }
}

#menu-btn {
  background-color: transparent;
  border: 0;
  font-size: 16pt;
  left: 20px;
  line-height: 40px;
  padding: 0;
  position: fixed;
  top: 20px;
  z-index: 10;
}

#menu-btn:focus, button:focus, input:focus, select:focus, input[type=file]:focus{
  outline: 0;
}

.menu-img-wrapper {
    border-radius: ($border-radius*4);
    float: left;
    height: 40px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 40px;
    img {
        cursor: pointer;
        left: -25%;
        position: absolute;
        top: 0;
        width: 150%;
    }
}

.user-li {
  border-bottom: 1px solid $nav-border-color;
  padding: 5% 15%;
  p {
    color: #BEC1C4;
    display: inline-block;
    line-height: 40px;
    margin-bottom: 0;
    padding-left: 5px;
  }
}

.search-field-mobile {
  margin: 0;
  form {
    margin: 0;
    input {
      border-color: $nav-text-color;
      margin: 0 0 0 10%;
      width: 95%;
    }
  }
}

.glyphicon.glyphicon-chevron-left {
  font-size: 14pt;
}
