$darkerColor: #614170;//#303F9F; //#362E73; // //#87242F; //#80242E; //#3C3E41; 
$lighterColor: #7E5691;//#3F51B5; //#43398f; // //#AD2F3D; //#CC3748; 

$textColor: #f9f9f9;
$bg-color: #424242; //#3C3E41; //#31303B;
$textColor2: #3d3d3d;
$inputBgColor: #cdcdcd;

$nav-bg-color: #303030;
$nav-border-color: #3d3d3d;
$nav-hover-color: #2c2c2c;

$header-height: 80px;

$border-radius: 5px;
$border-width: 1px;

@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Light.ttf');
    font-style: light;
}

@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: normal;
}


@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}

@mixin SocialColor($name, $color){
  .#{$name}{
    background-color: $color;
    box-shadow: 0px 2px 0px $color/1.5;
    &:hover{
      background-color: $color/1.5;
    }
  }
}

@mixin vendorPrefix($element, $attr, $value){
  $prefix-names: (':webkit', 'moz', ':moz', 'ms');
  @each $prefix in $prefix-names{
    :#{$prefix}-#{$element}{ 
      #{$attr}: $value; 
    }

}
}