@font-face {
  font-family: 'lato';
  src: url("../fonts/Lato-Light.ttf");
  font-style: light; }
@font-face {
  font-family: 'lato-regular';
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Regular.ttf"); }
body {
  background-color: #444;
  color: #f9f9f9;
  font-family: lato, raleway, helvetica; }

header.col-md-12 {
  background-color: #AD2F3D;
  box-shadow: 0px 1px 5px #2b2b2b;
  padding: 20px 20px;
  position: fixed;
  z-index: 3; }
header .profile-img-wrapper {
  border-radius: 20px;
  float: right;
  height: 40px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 40px; }
  header .profile-img-wrapper img {
    left: -25%;
    position: absolute;
    top: 0;
    width: 150%; }

.user-info {
  color: #3d3d3d;
  position: absolute;
  right: 20px;
  top: 65px;
  z-index: 3; }
  .user-info ul {
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 0;
    padding: 10px 0; }
    .user-info ul li {
      list-style: none;
      padding: 5px 25px; }
  .user-info::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e0e0e0;
    display: block;
    height: 0;
    margin-left: 70%;
    width: 0; }

h1 {
  margin: 0; }
  h1 a, h1 .main-h1, header.index h1 a {
    color: #f9f9f9;
    font-family: lato-regular;
    font-size: 16pt;
    line-height: 18pt;
    text-decoration: none;
    vertical-align: middle; }
    h1 a:hover, h1 .main-h1:hover, header.index h1 a:hover {
      color: #f9f9f9;
      text-decoration: none; }

.logo {
  margin: -15px 0 0 8px;
  max-width: 2.5%; }

h2 {
  font-size: 16pt;
  line-height: 18pt;
  margin: 0; }

h3 {
  font-size: 14pt;
  line-height: 16pt;
  margin: 0; }

h4 {
  font-family: lato-regular;
  color: #80242E; }

p {
  font-size: 12pt;
  line-height: 16pt; }

main, .col-md-10.recommendations-wrapper {
  margin-left: 16.66666667%; }
  main.index, .index.col-md-10.recommendations-wrapper {
    margin-left: 0; }

main.col-md-12, .col-md-12.col-md-10.recommendations-wrapper {
  padding: 5% 12.5%; }

main.col-md-10, .col-md-10.recommendations-wrapper {
  margin-top: 80px;
  padding: 5%; }

.twitter {
  background-color: #55acee;
  box-shadow: 0px 2px 0px #38729e; }
  .twitter:hover {
    background-color: #38729e; }

.fb {
  background-color: #3b5998;
  box-shadow: 0px 2px 0px #273b65; }
  .fb:hover {
    background-color: #273b65; }

/* menu */
nav {
  background-color: #2A2B2E;
  height: 100%;
  top: 0px; }
  nav.col-md-2 {
    position: fixed;
    padding: 80px 0 0 0; }

.nav-stacked > li + li {
  margin-top: 0; }

.nav-pills > li > a {
  border-bottom: 1px solid #36393d;
  border-radius: 0;
  color: #BEC1C4;
  display: block;
  padding: 20px 15%; }

.nav-pills > li > a:hover, .nav > li > a:focus {
  background-color: #232427;
  color: #AD2F3D;
  outline: 0; }

nav .glyphicon {
  font-size: 16pt;
  padding-right: 10px; }

#menu-btn {
  background-color: transparent;
  border: 0;
  font-size: 20pt;
  left: 20px;
  position: fixed;
  top: 25px;
  z-index: 10; }

#menu-btn:focus, button:focus, input:focus, select:focus, select:focus, input[type=file]:focus, select[type=file]:focus {
  outline: 0; }

footer {
  background-color: #444;
  padding: 15px 0;
  position: absolute;
  width: 100%; }
  footer p {
    margin: 0 auto;
    padding: 15px 0;
    text-align: center; }
    footer p a {
      color: #f9f9f9;
      font-size: 9pt; }
      footer p a.logo-footer {
        font-family: lato-regular;
        font-size: 18pt; }
      footer p a:hover {
        color: #f9f9f9;
        text-decoration: none; }

form, input, select,
input[type="checkbox"],
select[type="checkbox"] {
  margin: 15px auto; }

input, select,
input[type="checkbox"],
select[type="checkbox"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #AD2F3D;
  color: #f9f9f9;
  height: 50px;
  width: 100%; }
  input#photo, select#photo,
  input[type="checkbox"]#photo,
  select[type="checkbox"]#photo {
    padding: 15px 0 0 10%; }
  input#date, select#date,
  input[type="checkbox"]#date,
  select[type="checkbox"]#date {
    padding-left: 25%; }

select {
  border: solid 2px #CC3748;
  border-radius: 5px; }

label {
  bottom: 35%;
  color: #f9f9f9;
  position: absolute; }
  label.available {
    left: 9%; }

input[type="reset"], select[type="reset"],
input[type="submit"],
select[type="submit"],
.button,
.btn-login,
.btn-primary {
  background-color: #AD2F3D;
  border: 0 0 0 0;
  border-radius: 5px;
  box-shadow: 0px 2px 0px #80242E;
  font-size: 12pt;
  height: initial;
  margin: 15px;
  width: 15%; }

.select-postcard-option {
  text-align: center; }
  .select-postcard-option button {
    background-color: #AD2F3D;
    border: 0;
    font-size: 12pt;
    margin: 15px -2px;
    width: 15%; }
    .select-postcard-option button.received-btn {
      border-radius: 5px 0 0 5px; }
    .select-postcard-option button.swap-btn {
      border-radius: 0 5px 5px 0; }
    .select-postcard-option button.clicked, .select-postcard-option button.clicked:hover {
      background-color: #80242E; }
    .select-postcard-option button:hover {
      background-color: #AD2F3D; }

.button-wrapper {
  text-align: right; }

.error {
  color: #A62929; }

header.index {
  background-color: transparent;
  left: 0;
  margin: auto;
  opacity: 1;
  padding: 0;
  position: absolute;
  right: 0;
  top: 5%;
  z-index: 1; }
  header.index h1 {
    margin: 0; }
    header.index h1 a {
      font-size: 20pt; }
      header.index h1 a .logo {
        max-width: 36px; }
  header.index .btn-wrapper-login {
    text-align: right; }
  header.index button {
    font-size: 13pt;
    width: 25%; }

.photo-main {
  height: 650px;
  position: relative; }
  .photo-main p {
    font-size: 24pt; }
  .photo-main::before {
    display: none;
    background-image: url("../images/postais2.png");
    content: "";
    display: block;
    height: 650px;
    opacity: 0.9;
    overflow: hidden;
    position: absolute;
    width: 100%;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px); }

.text-container {
  margin-top: -1%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%; }

.color-overlay {
  background-color: #80242E;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  width: 100%; }

.what-section {
  margin: 5% 0; }

.text-what-section {
  bottom: 0;
  height: 40%;
  left: 0;
  margin: auto;
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 0; }

.col-what-section {
  height: 250px; }

.button.start, .start.btn-login {
  font-size: 15pt;
  padding: 5px 0;
  width: 25%; }

/* signup form */
.modal-content {
  background-color: #f9f9f9; }

.modal-body {
  text-align: center; }
  .modal-body form, .modal-body input, .modal-body select {
    margin: 10px 0; }
    .modal-body form input, .modal-body input input, .modal-body select input, .modal-body form select, .modal-body input select, .modal-body select select, .modal-body form select, .modal-body input select, .modal-body select select {
      background-color: #cdcdcd;
      border: 0;
      border-radius: 5px;
      color: #3d3d3d;
      margin: 5px;
      padding: 0 10px;
      z-index: 2; }
  .modal-body p {
    color: #80242E;
    display: inline-block;
    font-size: 11pt; }
  .modal-body hr {
    border-top-color: #cdcdcd;
    display: inline-block;
    margin: 20px 15px;
    vertical-align: middle;
    width: 33%; }

input:-webkit-autofill, select:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #cdcdcd inset; }

.button.signup, .signup.btn-login {
  margin: 15px auto;
  padding: 10px 20px;
  width: 75%; }

::-webkit-input-placeholder {
  color: #3d3d3d; }

:-moz-placeholder {
  color: #3d3d3d; }

::-moz-placeholder {
  color: #3d3d3d; }

:-ms-input-placeholder {
  color: #3d3d3d; }

.label-signup {
  color: #3d3d3d;
  margin-left: 2%;
  opacity: 0;
  top: 25%; }

.btn-login {
  font-size: 13pt;
  padding: 10px 0;
  width: 75%; }

.edit {
  display: none; }

.table {
  background-color: #4D5054;
  border-radius: 10px;
  margin: 25px 0; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
  border-top: 0; }

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 2px solid #36393d;
  padding: 12px 5px;
  vertical-align: middle; }

th:first-child {
  width: 32px; }

td > .glyphicon {
  font-size: 12pt;
  padding-bottom: 0;
  padding-left: 3px; }

.dashboard {
  margin: 2.5% -15px; }
  .dashboard .color-overlay {
    display: none; }

.col-md-10.recommendations-wrapper {
  background-color: #202124;
  margin-top: 0; }

.postcards-wrapper {
  padding: 2.5% 0; }

@media (min-width: 1024px) {
  .popular-wrapper:hover .color-overlay {
    display: block; } }
.category {
  background-color: #4D5054;
  border: 0;
  border-radius: 5px;
  font-size: 16pt;
  margin: 15px auto;
  padding: 25px;
  text-align: left;
  width: 100%; }
  .category .glyphicon {
    color: #f9f9f9;
    display: inline-block;
    font-size: 16pt; }
  .category .glyphicon-chevron-right {
    float: right; }
  .category .glyphicon-tag {
    padding-right: 10px; }

.postcard-container {
  background-color: #262729;
  border-radius: 5px;
  padding: 25px; }

.postcard-text-container {
  display: table-cell;
  vertical-align: middle;
  width: 35%; }

.postcard-img {
  margin: 0 auto;
  width: 100%; }

.img-container {
  display: table-cell;
  padding: 25px;
  margin: 0 25px 0 0;
  width: 60%; }

.flag {
  border-radius: 1px;
  margin-left: 5px; }

.clicable {
  background-color: #4D5054;
  border-radius: 5px;
  font-size: 12pt;
  padding: 10px;
  margin: 15px 0; }
  .clicable .glyphicon {
    padding-right: 5px; }

.delete-container {
  background-color: #262729;
  border-radius: 5px;
  padding: 25px;
  text-align: center; }
  .delete-container input[type="submit"], .delete-container select[type="submit"] {
    width: 40%; }

.delete-img {
  display: inline-block;
  padding: 25px;
  margin: 0 25px 0 0;
  width: 40%; }

.delete-text-container {
  display: inline-block;
  vertical-align: middle;
  width: 30%; }

/* media queries */
@media (min-width: 1025px) {
  .nav-pills > li > a:hover span.glyphicon {
    -webkit-transform: rotate(-15deg); }

  input[type="reset"]:hover, select[type="reset"]:hover, input[type="submit"]:hover, select[type="submit"]:hover {
    background-color: #80242E; }

  .button:hover, .btn-login:hover, .btn-primary:hover {
    background-color: #80242E; }

  .table > tbody > tr:hover td {
    background-color: #CC3748; }

  .table > tbody > tr:last-child:hover td:first-child {
    border-radius: 0 0 0 5px; }

  .table > tbody > tr:last-child:hover td:last-child {
    border-radius: 0 0 5px 0; }

  .table > tbody > tr:hover .edit {
    display: block; }

  .category:hover {
    background-color: #CC3748; }

  .clicable:hover {
    background-color: #CC3748; } }
@media (min-width: 768px) {
  .element {
    min-height: 208px; } }
@media (max-width: 767px) {
  .not-mobile {
    display: none; }

  nav .glyphicon {
    font-size: 16pt; }

  h1 a, .photo-main h1 {
    font-size: 24pt; }

  .logo {
    max-height: 25px; }

  .photo-main p {
    font-size: 14pt;
    padding: 0 5px; }

  input[type="reset"], select[type="reset"], input[type="submit"], select[type="submit"], .button, .btn-login {
    padding: 5px 0;
    width: 50%; }

  .photo-main {
    height: 300px; }

  .photo-main::before {
    height: 295px; }

  .text-container {
    top: 25%; }

  h2 {
    font-size: 16pt; }

  .icon-main {
    font-size: 18px;
    margin: 15px 0;
    padding: 18px; }

  p {
    font-size: 11pt;
    line-height: 15pt; }

  input#favorite, select#favorite {
    height: 25px;
    margin-left: 40%; }

  label.favorite {
    bottom: 10px; }

  .category {
    font-size: 14pt;
    padding: 15px; }

  .category .glyphicon {
    font-size: 14pt; }

  #menu-btn {
    left: 0px;
    top: 30px; }

  input#photo, select#photo {
    padding-left: 33%; }

  .img-container, .delete-img, .delete-text-container {
    display: block;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
